<div id="links" onWindowResize (onWindowResizeEvent)="getValue($event)"
  fxFlexFill fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap>
  <div [fxFlex]="divFlex">
    <a href="https://github.com/joecal">
      <img src="../../assets/github.png"
        #github [@growShrink]="github.state"
        growShrinkState>
    </a>
  </div>
  <div [fxFlex]="divFlex">
    <a href="https://linkedin.com/in/joecalvillo">
      <img src="../../assets/linkedin.png"
        #linkedin [@growShrink]="linkedin.state"
        growShrinkState>
    </a>
  </div>
  <div [fxFlex]="divFlex">
    <img src="../../assets/mail.png"
      #mail [@growShrink]="mail.state"
      growShrinkState>
  </div>
</div>
