#portrait {
  border: 0.1em;
  border-style: solid;
  border-color: #f9f9f9;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0em 0.2em 0.6em #ccc;
}

#portrait img {
  display: flex;
  max-width:100%;
}
