{
  "mailer": {
    "host": "",
    "port": ,
    "secure": "",
    "auth": {
      "type": "",
      "user": "",
      "clientId": "",
      "clientSecret": "",
      "refreshToken": "",
      "accessToken": ""
    }
  }
}
