<div fxFlexFill onWindowResize (onWindowResizeEvent)="getValue($event)">
  <div fxLayout="row" fxLayoutAlign="flex-start">
    <h1 id="about" [style.font-size]="h1HeaderFontSize">About</h1>
  </div>
  <div id="aboutContent" fxFlexFill fxLayout="column" fxLayoutAlign="center center" fxLayoutWrap>
    <app-portrait></app-portrait>
    <p [style.font-size]="pFontSize">
      I have a passion for transforming web content ideas and concepts into valuable,
      tangible results. Eager to apply my front-end, back-end, and team skills to solve
      problems and enhance the user experience. Continuously learning new and existing
      technologies and techniques to maintain high quality programming performance.
    </p>
  </div>
</div>
