#contact {
  font-weight: 300;
  margin: 0.2em;
  padding-top: 0.3em;
  border-bottom: 1px solid #ccc;
}

#contactContent {
  padding-bottom: 2em;
}

mat-card {
  padding: 12px 24px 0 24px;
  width: 100%;
}

app-links {
  margin-top: 1em;
}
