<div class="contact">
  <div>
    <h1 id="contact" [style.font-size]="h1HeaderFontSize">CONTACT</h1>
  </div>
  <div class="contact-content">
    <div class="contact-sub-content">
      <mat-progress-bar
        *ngIf="loading"
        color="primary"
        mode="indeterminate"
        value="50"
      >
      </mat-progress-bar>
      <mat-card>
        <form
          [formGroup]="contactForm"
          #contactFormDirective="ngForm"
          (ngSubmit)="submit(contactForm, contactFormDirective)"
        >
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Name"
              formControlName="name"
              required
            />
          </mat-form-field>

          <mat-form-field>
            <input
              type="email"
              matInput
              placeholder="Email"
              formControlName="email"
              required
            />
          </mat-form-field>

          <mat-form-field>
            <textarea
              type="text"
              matInput
              placeholder="Message"
              formControlName="message"
              required
            >
            </textarea>
          </mat-form-field>

          <div class="contact-form-actions">
            <button
              type="submit"
              mat-stroked-button
              [disabled]="!contactForm.valid"
            >
              <span [style.font-size]="cardFontSize">SEND</span>
            </button>

            <div *ngIf="msgStatus" class="contact-msg-status">
              {{ msgStatus }}
            </div>
          </div>
        </form>
      </mat-card>

      <div class="contact-links">
        <div class="contact-link">
          <a href="https://github.com/joecal">
            <img
              src="assets/gh.png"
              #github
              [@growShrink]="github.scale"
              appGrowShrink
              [@greyscale]="github.greyscale"
              appGreyscale
            />
          </a>
        </div>
        <div class="contact-link">
          <a href="https://linkedin.com/in/joecalvillo">
            <img
              src="assets/li.png"
              #linkedin
              [@growShrink]="linkedin.scale"
              appGrowShrink
              [@greyscale]="linkedin.greyscale"
              appGreyscale
            />
          </a>
        </div>
        <div class="contact-link">
          <a href="https://www.facebook.com/j.calvillo.757">
            <img
              src="assets/f.png"
              #facebook
              [@growShrink]="facebook.scale"
              appGrowShrink
              [@greyscale]="facebook.greyscale"
              appGreyscale
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
