<div id="links" fxFlexFill fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap>
  <div [fxFlex]="divFlex">
    <a href="https://github.com/joecal">
      <img src="../../assets/github.png"
        #github [@growShrink]="github.scale"
        growShrink [@greyscale]="github.greyscale" greyscale>
    </a>
  </div>
  <div [fxFlex]="divFlex">
    <a href="https://linkedin.com/in/joecalvillo">
      <img src="../../assets/linkedin.png"
        #linkedin [@growShrink]="linkedin.scale"
        growShrink [@greyscale]="linkedin.greyscale" greyscale>
    </a>
  </div>
  <div [fxFlex]="divFlex">
    <a href="https://www.facebook.com/j.calvillo.757">
      <img src="../../assets/facebook.png"
        #facebook [@growShrink]="facebook.scale"
        growShrink [@greyscale]="facebook.greyscale" greyscale>
    </a>
  </div>
</div>
