<div class="home">
  <div class="home-left">
    <h1
      class="app--cursor-pointer"
      #about
      appScrollTo
      [elementId]="'about'"
      [style.font-size]="h1FontSize"
      [@growShrink]="about.scale"
      appGrowShrink
    >
      ABOUT
    </h1>
    <h1
      class="app--cursor-pointer"
      #skills
      appScrollTo
      [elementId]="'skills'"
      [style.font-size]="h1FontSize"
      [@growShrink]="skills.scale"
      appGrowShrink
    >
      SKILLS
    </h1>
  </div>

  <h1 class="home-center" [style.font-size]="h1FontSize">
    Joe Calvillo : Developer
  </h1>

  <div class="home-right">
    <h1
      class="app--cursor-pointer"
      #work
      appScrollTo
      [elementId]="'work'"
      [style.font-size]="h1FontSize"
      [@growShrink]="work.scale"
      appGrowShrink
    >
      WORK
    </h1>
    <h1
      class="app--cursor-pointer"
      #contact
      appScrollTo
      [elementId]="'contact'"
      [style.font-size]="h1FontSize"
      [@growShrink]="contact.scale"
      appGrowShrink
    >
      CONTACT
    </h1>
  </div>
</div>
