#contact {
  padding: 0.5em 0 0 0.5em;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 100%;
  font-family: "Lato", sans-serif;
}

button {
  font-weight: 100;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contact-header {
  display: inline-block;
  font-weight: 300;
  border-bottom: 1px solid #ccc;
}

.contact-content {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
}

.contact-sub-content {
  max-width: 75%;
}

.contact-resume {
  font-weight: 300;
  font-family: "Lato", sans-serif;
  margin-bottom: 4em;
  background-color: white;
}

.contact-form-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-links {
  display: flex;
  margin: 1em 0 4em 0;
}

.contact-link {
  display: flex;
  width: 33%;
}

.contact-links img {
  max-width: 20%;
  -webkit-filter: drop-shadow(0 1px 3px #ccc) grayscale(100%);
  filter: drop-shadow(0 1px 3px #ccc) grayscale(100%);
}

.contact-msg-status {
  color: red;
  font-family: "Lato", sans-serif;
  margin-top: 0.5em;
}

.mat-simple-snackbar {
  justify-content: center;
}
