<div class="work">
  <div id="work">
    <div class="work-header">
      <h1 [style.font-size]="h1HeaderFontSize">WORK</h1>
    </div>
  </div>
  <div class="work-content">
    <mat-card *ngFor="let card of cards" [style.max-width]="cardMaxWidth">
      <div class="work-img-container">
        <img
          src="{{ card.img }}"
          #img
          [@growShrink]="img.scale"
          appGrowShrink
        />
      </div>
      <div class="work-actions-container">
        <a
          mat-stroked-button
          href="{{ card.live }}"
          [style.font-size]="cardFontSize"
          *ngIf="card.live"
          target="_blank"
          >LIVE</a
        >
        <a
          mat-stroked-button
          href="{{ card.repo }}"
          [style.font-size]="cardFontSize"
          *ngIf="card.repo"
          >REPO</a
        >
      </div>
    </mat-card>
  </div>
</div>
