#work {
  font-weight: 300;
  margin: 0.2em;
  padding-top: 0.3em;
  border-bottom:1px solid #ccc;
}

#workContainer {
  padding-bottom: 3em;
}

#imgContainer {
  overflow: hidden;
}

md-card {
  margin: 0.8em;
  padding: 0;
}

a {
  font-weight: 100;
  margin: 0.1em 0.2em 0.4em 0.2em;
}

.mat-button {
  min-width: 2em;
  line-height: 1.2em;
  max-width: 6em;
}
