<div fxFlexFill>
  <div fxLayout="row" fxLayoutAlign="flex-end">
    <h1 id="contact" [style.font-size]="h1HeaderFontSize">CONTACT</h1>
  </div>
  <div id="contactContent" fxFlexFill fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap>
    <div fxFlex="60" [fxFlex.sm]="80" [fxFlex.xs]="80" fxLayoutWrap fxLayout="row" fxLayoutAlign="center center">
      <md-card>
        <app-form (onSubmitted)="onSubmitted($event)"></app-form>
      </md-card>
      <md-progress-bar *ngIf="submitted" mode="indeterminate"></md-progress-bar>
      <app-links></app-links>
    </div>
  </div>
</div>
