<mat-grid-list cols="10" rowHeight="fit" [@opacity]="opacity">
  <mat-grid-tile
    #home
    [style.opacity]="homeOpacity"
    [colspan]="10"
    [rowspan]="2"
  >
    <app-home></app-home>
  </mat-grid-tile>
  <mat-grid-tile
    #about
    [style.opacity]="homeOpacity"
    [colspan]="10"
    [rowspan]="2"
  >
    <app-about></app-about>
  </mat-grid-tile>
  <mat-grid-tile
    #skills
    [style.opacity]="homeOpacity"
    [colspan]="10"
    [rowspan]="2"
  >
    <app-skills></app-skills>
  </mat-grid-tile>
  <mat-grid-tile
    #work
    [style.opacity]="homeOpacity"
    [colspan]="10"
    [rowspan]="2"
  >
    <app-work></app-work>
  </mat-grid-tile>
  <mat-grid-tile
    #contact
    [style.opacity]="homeOpacity"
    [colspan]="10"
    [rowspan]="2"
  >
    <app-contact></app-contact>
  </mat-grid-tile>
</mat-grid-list>
