<form onWindowResize (onWindowResizeEvent)="getValue($event)" [style.font-size]="formFontsize"
  #contactForm="ngForm" fxLayoutAlign="center" fxLayoutWrap>

  <md-input-container [style.max-height]="inputMaxHeight">
    <input type="text" required mdInput placeholder="Name"
      name="name" ngModel>
  </md-input-container>

  <md-input-container [style.max-height]="inputMaxHeight">
    <input type="email" required mdInput placeholder="Email"
      name="email" ngModel>
  </md-input-container>

  <md-input-container [style.max-height]="inputMaxHeight">
    <textarea type="text" required mdInput placeholder="Message"
      name="message" ngModel>
    </textarea>
  </md-input-container>

  <div [style.margin]="'1em 0 0.2em 0'" fxLayoutAlign="center">
    <a md-button [style.font-size]="formFontsize" [disabled]="!contactForm.form.valid"
      (click)="contactForm.form.valid ? newMessage(contactForm,contactForm.value) : null">SUBMIT</a>
    <a md-button [style.font-size]="formFontsize" (click)="contactForm.reset()">CANCEL</a>
  </div>
</form>
