#skills {
  font-weight: 300;
  margin: 0.2em;
  padding-top: 0.3em;
  border-bottom:1px solid #ccc;
}

#iconContainer {
  text-align: center;
}

i {
  margin: 0.2em;
  text-shadow: 0 3px 5px #ccc;
}
