<div fxFlexFill>
  <div fxLayout="row" style="border-bottom:1px solid black" fxLayoutAlign="flex-end">
    <h1 id="skills" >Skills</h1>
  </div>
  <div fxFlexFill #iconContainer fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column">
      <div id="iconContainer" [style.padding-bottom]="iconContainerPad"
        fxFlex="{{iconContainerFlex}}" fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap>
        <i *ngFor="let icon of icons" class="{{icon}}" [style.font-size]="iconFontSize" #iconEl
          [@growShrink]="iconEl.state" growShrinkState>
        </i>
      </div>
    </div>
  </div>
</div>
