<md-grid-list style="height:100vh;" fxFlex cols="10" rowHeight="fit">

  <md-grid-tile [colspan]="10" [rowspan]="1"></md-grid-tile>

  <md-grid-tile [colspan]="2" [rowspan]="6"></md-grid-tile>

  <md-grid-tile [colspan]="6" [rowspan]="4">

    <app-portrait fxFlex.xl="50%" fxFlex.lg="40%" fxFlex.md="40%" fxFlex.sm="40%" fxFlex.xs="90%"></app-portrait>

  </md-grid-tile>

  <md-grid-tile [colspan]="2" [rowspan]="6"></md-grid-tile>

  <md-grid-tile [colspan]="6" [rowspan]="2" fxLayout='row'>

    <app-links fxFlexAlign="start" fxFlex.xl="50%" fxFlex.lg="40%" fxFlex.md="40%" fxFlex.sm="50%" fxFlex.xs="100%"></app-links>

  </md-grid-tile>

  <md-grid-tile [colspan]="10" [rowspan]="1"></md-grid-tile>

</md-grid-list>
