<div id="mailContainer" class="slideable">
  <div id="mailContent" class="bgColor" ng-class="::getClass(class)">
    <div id="mailContentB">
      <div id="formContainer">
        <form name="form.mailForm" novalidate>
          <input type="text" name="name" class="growTran grow" ng-focus="focus(0)" ng-blur="blur(0)" ng-model="formModel.name" placeholder="Name" required/>
          <span ng-show="form.mailForm.name.$error.required && focusInput0">
            Name Required
          </span>
          <input type="email" name="email" class="growTran grow" ng-focus="focus(1)" ng-blur="blur(1)" ng-model="formModel.email" placeholder="Email" required/>
          <span ng-show="form.mailForm.email.$error.required && focusInput1">
            Email Required
          </span>
          <span ng-show="!form.mailForm.email.$error.required && form.mailForm.email.$error.email && focusInput1">
            Invalid Email
          </span>
          <textarea name="message" class="growTran grow" ng-focus="focus(2)" ng-blur="blur(2)" ng-model="formModel.message" placeholder="Message" required/></textarea>
          <span ng-show="form.mailForm.message.$error.required && focusInput2">
            Message Required
          </span>
          <div id="btnContainer">
            <button type="submit" slide-toggle="#mailContainer" ng-click="sendMessage(form.mailForm, formModel)" class="growTran grow" ng-class='{"pointer": add1, "hover1": hover}' ng-mouseover="add1=true;" ng-mouseleave="add1=false" ng-mouseover="hover1 = true">
              Send
            </button>
            <button type="reset" slide-toggle="#mailContainer" ng-click="cancel(form.mailForm)" class="growTran grow" ng-class='{"pointer": add2, "hover2": hover}' ng-mouseover="add2=true;" ng-mouseleave="add2=false" ng-mouseover="hover2 = true">
              Cancel
            </button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
