@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../node_modules/devicon/devicon.min.css';

* {
  margin: 0;
  border: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  list-style-type: none;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

app-root {
  height: 500vh;
  font-family: Lato;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.mat-focused .mat-input-placeholder {
    color: rgba(0,0,0,.38);
}

.mat-focused .mat-input-placeholder.mat-float .mat-placeholder-required {
    color: rgba(0,0,0,.38);
}

.mat-input-ripple {
    background-color: rgba(0,0,0,.38);
}

.mat-progress-bar-buffer {
    background-color: rgba(0,0,0,.17);
}

.mat-progress-bar-fill::after {
    background-color: rgba(0,0,0,.38);
}
