<div fxFlexFill style="border:1px solid red;" fxLayout="column" fxLayoutAlign="space-between">
  <div style="border:1px solid black;" fxLayout="row" fxLayoutAlign="space-around">
    <h1 style="border:1px solid black;">About</h1>
    <h1 style="border:1px solid black;">Skills</h1>
  </div>

  <div style="border:1px solid black;" fxLayout="row" fxLayoutAlign="center">
    <h1 style="border:1px solid black;">Joe Calvillo : Developer</h1>
  </div>

  <div style="border:1px solid black;" fxLayout="row" fxLayoutAlign="space-around">
    <h1 style="border:1px solid black;">Work</h1>
    <h1 style="border:1px solid black;">Contact</h1>
  </div>
</div>
